*{
	font-family: 'Varela Round';
}

header {
	background-image: url("../img/dog-background.jpg");
	height: 721px;
	background-size: cover;
}

.btn-header {
	border-radius: 24px;
	background-color: #373737;
	margin-left: 290px;
	margin-top: 50px;
	width: 100px
}

.btn-header:hover {
	background-color: #494949;
}

.first-section {
	padding-top: 350px;
	margin-left: 300px;
	margin-right: 300px;
}

#second-section {
	background-color: #9de97e;
}

.second-section-img {
	border-radius: 12px;
}

.second-section-col {
	border-radius: 12px;
	height: 145px;
	background-color: white;
}

.second-section-row {
	margin-bottom: 0px;
	padding-bottom: 15px;
}

#third-section {
	background-color: #3498db
}

.third-section-col {
	border-radius: 12px;
	background-color: white;
	padding: 15px;
	width: 260px;
	height: 214px
}


.third-section-row {
	margin-bottom: 45px !important;
}

.third-section-text {
	text-align: center;
	padding-top: 10px;
}

.third-section-btn {
	border-radius: 24px;
	background-color: #373737;
	margin-bottom: 35px;
	width: 100px
}

#fourth-section{ 
	background-color: #e8e8e8;
}

.fourth-section-col {
	border-radius: 12px;
	background-color: white;
	text-align: center;
	padding: 15px !important;
	box-shadow: 3px 3px 50px grey;
}

.fourth-section-text {
	padding-left: 60px;
	padding-right: 60px;
}

.fourth-section-img {
	border-radius: 50%;
	margin-top: 15px;
}

.fourth-section-name {
	margin-top: 0px;
	margin-bottom: 0px;
}

#fourth-section-last-col {
	margin-bottom: 50px;
}

#fifth-section {
	background-image: url("../img/dog-background-2.jpg");
	height: 721px;
	background-size: cover;
}

.fifth-section-text {
	margin-top: 280px;
	margin-bottom: 20px;
	margin-right: 100px;
	margin-left: 100px;
}

#fifth-section-text-2 {
	margin-bottom: 0px;
}

.fifth-section-col {
	background-color: white;
	width: 350px !important;
	border-radius: 12px;
}

.fifth-secion-row {
	margin: 0px;
}

.fifth-section-btn {
	border-radius: 24px;
	background-color: #373737;
	margin-top: 10px;
	margin-left: 115px;
	margin-bottom: 10px;
	width: 100px
}

#sixth-section{
	background-color: #373737;
	text-align: center;
}

.nav-btn {
	border-radius: 24px;
	background-color: white;
	border: 1px solid black;
}
.nav-btn:hover {
	background-color: #494949;
}

.brand-logo {
	margin-left: 50px;
}

.right-link {
	margin-right: 50px;
}

.left-link {
	margin-left: 90px;
}

.svg-icon {
	vertical-align: middle;
	margin-right: 5px;
}

#footer-icon {
	margin-top: 15px;
}

.footer-row {
	margin-bottom: 0px;
	margin-top: 0px;
}

h1{
	font-size: 40px;
	text-align: center;
}

h2 {
	font-size: 24px;
	text-align: center;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

/*notes
usei um height de 721px em vez de 1000px p/ background image do header
font-sizes estão muito acima da realidade

editar imagens da segunda sessão para que elas fiquem do mesmo formato e tamanho
isso vai facilitar o alinhamento


TO DO
add responsividade to containers
make reponsive button
define actual
make responsive section 2
fix section 2 spacing
insert section 3's icon
insert iconns in 3 section texts
insert icons in footer
fix sgv
pedir icone branco do dog do footer
fix espaçamento do footer

EXPLAIN
difference between margin, border, and padding.
*/
