*{
	font-family: 'Varela Round';
}
header {
	background-color: #F0F8FF;
	background-image: url("../img/dog-background.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	padding: 140px 0 100px;
}

@media (max-width: 992px) {
  .second-section-img-div {
  	display: none;
  }
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.btn-header {
	border-radius: 24px;
	background-color: #373737;
	width: 100px
}

.btn-header:hover {
	background-color: #494949;
}

.first-section {
	padding-top: 220px;
}

#second-section {
	background-color: #9de97e;
}

.second-section-img {
	border-radius: 12px;
}

.second-section-col {
	border-radius: 12px;
	min-height: 130px;
	max-width: 100%;
	background-color: white;
}

.second-section-row {
	margin-bottom: 0px;
	padding-bottom: 15px;
}

#third-section {
	background-color: #3498db
}

.third-section-col {
	border-radius: 12px;
	background-color: white;
	padding: 15px;
	margin: 10px;
	height: 90%;
}


.third-section-row {
	margin-bottom: 45px !important;
}

.third-section-text {
	text-align: center;
	padding-top: 10px;
}

.third-section-btn {
	border-radius: 24px;
	background-color: #373737;
	margin-bottom: 35px;
	width: 100px;
}

#fourth-section{ 
	background-color: #e8e8e8;
}

.fourth-section-col {
		border-radius: 12px;
		background-color: white;
		text-align: center;
		box-shadow: 3px 3px 50px grey;
}

@media (min-width: 762px) {
	.fourth-section-col {
		padding: 15px !important;
	}
}

@media (max-width: 762px) {
	.fourth-section-col {
		padding: 0px !important;
	}	
}


.fourth-section-text {
	padding-left: 60px;
	padding-right: 60px;
}

.fourth-section-img {
	border-radius: 50%;
	margin-top: 15px;
}

.fourth-section-name {
	margin-top: 0px;
	margin-bottom: 0px;
}

#fourth-section-last-col {
	margin-bottom: 50px;
}

#fifth-section {
	background-color: #F0F8FF;
	background-image: url("../img/dog-background-2.jpg");
	background-size: cover;
	height: 721px;
	background-position: center center;
	background-repeat: no-repeat;
}

.fifth-section-text {
	margin-top: 280px;
	margin-bottom: 20px;
}

#fifth-section-text-2 {
	margin-bottom: 0px;
}

.fifth-section-col {
	background-color: white;
/*	width: 350px;*/
	border-radius: 12px;
	padding: 10px;
}

.fifth-secion-row {
	margin: 0px;
}

.fifth-section-btn {
	border-radius: 24px;
	background-color: #373737;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px
}

.fifth-section-btn:hover {
	background-color: #494949;
}

#sixth-section{
	background-color: #373737;
	text-align: center;
}

.nav-btn {
	border-radius: 24px;
	background-color: white;
	border: 1px solid black;
}
.nav-btn:hover {
	background-color: #494949;
}

.brand-logo {
	margin-left: 50px;
}

.right-link {
	margin-right: 50px;
}

.left-link {
	margin-left: 90px;
}

.svg-icon {
	vertical-align: middle;
	margin-right: 5px;
}

#footer-icon {
	margin-top: 15px;
}

.footer-row {
	margin-bottom: 0px;
	margin-top: 0px;
}

h1{
	font-size: 40px;
	text-align: center;
}

h2 {
	font-size: 24px;
	text-align: center;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

/*notes
usei um height de 721px em vez de 1000px p/ background image do header
font-sizes estão muito acima da realidade



TO DO
add responsividade to containers
make reponsive button
define actual
make responsive section 2
fix section 2 spacing
insert section 3's icon
insert iconns in 3 section texts
insert icons in footer
fix sgv
pedir icone branco do dog do footer
fix espaçamento do footer

EXPLAIN
difference between margin, border, and padding.
*/
