*{
	font-family: 'Varela Round';
}

nav {
	background-color: white;
	z-index: 2;
}

nav ul a {
	text-transform: uppercase;
	color: black;
}

nav .brand-logo {
	font-size: 3rem;
}

nav i {
	color: black;
}

.sidenav {
	text-transform: uppercase;
}

header {
	background-color: #F0F8FF;
	color: white;
}

.btn-header {
	border-radius: 32px;
	background-color: #373737;
	box-shadow: none;
}

.btn-header:hover {
	background-color: #676767;
	box-shadow: none;
}

#first-section {
	background-color: #5ac8cf;
	padding-top: 12%;
}

#first-section h1 {
	text-align: left;
}

#first-section h4 {
	font-size: 20px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
}

#first-section img {
	display: block;
	/*WHY DISPLAY AS A BLOCK?*/
	max-width: 100%;
}


.row {
	margin-bottom: 0px;
}


#second-section {
	background-color: #9de97e;
	padding: 60px 0;
}

#second-section .row {
	margin-bottom: 0px;
	padding-bottom: 20px;
}

#second-section .row img {
	border-radius: 12px;
	box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.26);
}

.card-panel {
	border-radius: 12px;
	text-align: center;
	padding: 10px;
}

#second-section .card-panel {
	min-height: 118px; /*defined the value based on the img height when it disappears*/
	max-width: 100%;
	margin: 0px; /*the card-panel comes with margins as default. this will eliminate them. inspect to show the margins*/
	box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.26);
	padding: 0 30px 0 30px;
}

#second-section .zero-padding-left {
	padding-left: 0;
}

#second-section h3, #second-section p {
	padding: 0 20px;

#second-section .zero-padding-right {
	padding-right: 0;

}

@media (max-width: 992px) {
  #second-section .img{
  	display: none;
  }
  #second-section .card-panel h3, p{
  		text-align: left !important;
  }
}


#right-card {
	text-align: right;
}

#right-card img {
	border-radius: 0 6px 6px 0;
}


#third-section {
	background-color: #3498db;
	padding: 60px 0 24px;
}


#third-section h3 {
	margin-top: 10px;
}

#third-section .card-panel {
	border-radius: 12px;
	background-color: white;
	padding: 15px;
	height: 90%;
	box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.26);
	text-align: center;
	padding-top: 10px;
}

#third-section .svg-icon {
	vertical-align: middle;
	margin-right: 5px;
}

#third-section p {
	color: rgba(0, 0, 0, 0.54);
}


.flex {
	display: flex;
	flex-wrap: wrap;
}



.btn-general {
	border-radius: 32px;
	background-color: #373737;
	box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.16);
	margin-top: 24px;
}

.btn-general:hover {
	background-color: #676767;
}

#fourth-section {
	background-color: #e8e8e8;
	padding: 60px 0 24px;
}

#fourth-section .card-panel {
	border-radius: 12px;
	background-color: white;
	text-align: center;
	box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.16);
}

#fourth-section .card-panel img {
	border-radius: 50%;
	margin-top: 15px;
	width: 45px;
}

#fourth-section p {
	padding: 0 20px
}

#fourth-section span {
	color: #676767;
	font-size: 12px;
}

#fifth-section {
	background-image: url("../img/dog-background-2.jpg");
	background-size: cover;
	height: 760px;
	background-position: center center;
	background-repeat: no-repeat;
}

#fifth-section h1 {
	padding-top: 25%;
	margin: 0px 0px;
	padding-bottom: 5%;
}

#fifth-section .card-panel {
	border-radius: 12px;
	padding: 24px 0;
}

#footer {
	background-color: #373737;
	text-align: center;
	padding-bottom: 8px;
}

#footer img {
	margin-top: 20px;
}

#footer .svg-icon {
	vertical-align: middle;
	margin: 15px 6px;
}

#footer p {
	margin: 0;
}

#footer .endereço {
	font-size: 12px;
	margin-bottom: 20px;
}



h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

h2 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	color: white;
	text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.16);
}

#depoimentos {
	color: black;
}


h3 {
	font-size: 18px;
	text-transform: uppercase;
}

h4 {
	font-size: 17px;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {
	display: none;
	-webkit-appearance: none; }

@media (max-width: 992px) {
	#second-section .card-panel {
		text-align: center;
		padding: 12px 24px;
	}

	#second-section h3, p {
		padding: 0;
	}


@media (max-width: 992px) {
	#top-image {
		margin-bottom: 20px;
	}
}

@media (min-width: 762px) {
	#first-section h1 {
		font-size: 36px;
	}

	#first-section h4 {
		font-size: 16px;
	}
}

@media (max-width: 992px) {
	#first-section {
		padding: 100px 0;
	}

	#first-section h1 {
		text-align: center;
	}

	#first-section h4 {
		text-align: center;
	}
}

@media (max-width: 600px) {
	.btn-header {
		padding: initial;
		width: 100%;
	}

	#fourth-section .card-panel {
		padding: 10px;
	}

	#fifth-section {
		padding: 120px 0 80px 0;
		height: auto;
	}

	#fifth-section .card-panel {
		padding: 10px 25px;
	}

	h1 {
		font-size: 24px;
	}
}

